@{
    ViewData["Title"] = "Подвір'я";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Подвір'я</h1>
                <p1>-це прилегла площа що зустрічає як власників так і гостей</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category1">Бруківка</button>
                    <button class="filter-button" data-filter="category2">Комбінований граніт</button>
                    <button class="filter-button" data-filter="category3">Ковпаки</button>
                    <button class="filter-button" data-filter="category4">Балясини</button>
                </div>

                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/20.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/20.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/8.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/8.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Покостівка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/9.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/9.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Покостівка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/10.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/10.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Покостівка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Покостівка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/14.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/14.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/13.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/13.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Комбінований граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/24.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/24.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Комбінований граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/16.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/16.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Комбінований граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/17.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/17.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Комбінований граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/18.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/18.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Комбінований граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/19.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/19.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Комбінований граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/12.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/12.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/21.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/21.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/22.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/22.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/23.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/23.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/15.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/15.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Кишінь</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/dvody/25.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/dvody/25.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Кишінь</h3>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
