@{
    ViewData["Title"] = "Фундаменти";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Фундаменти</h1>
                <p1>-це підземна частина споруди, яка служить опорою для усіх конструкцій</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category1">Український граніт</button>
                    <button class="filter-button" data-filter="category2">Імпортний граніт</button>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u22.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u22.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u15.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u15.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u17.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u17.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u20.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u20.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u26.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u26.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u23.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u23.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u21.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u21.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u9.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u9.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u18.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u18.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u27.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u27.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u16.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u16.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Дідковіч</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u13.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u13.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Дідковіч</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/u10.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/u10.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/i8.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/i8.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/i11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/i11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/i19.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/i19.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/i4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/i4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/fundation/i6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/fundation/i6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>