@{
    ViewData["Title"] = "Сходи";
}
<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Сходи</h1>
                <p1>-це одна з головних складових затишного і практичного інтер'єру</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category1">Український граніт</button>
                    <button class="filter-button" data-filter="category2">Імпортний граніт</button>
                    <button class="filter-button" data-filter="category3">Мрамур</button>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Лабродаріт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Лабродаріт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Лабродаріт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u9.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u9.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Лабродаріт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u19.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u19.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u8.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u8.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u20.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u20.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u24.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u24.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u39.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u39.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u37.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u37.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u33.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u33.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u34.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u34.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u27.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u27.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u32.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u32.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u40.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u40.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u30.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u30.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/u31.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/u31.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>



                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i25.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i25.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i35.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i35.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i36.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i36.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i41.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i41.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i42.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i42.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i16.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i16.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/i5.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/i5.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>



                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m10.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m10.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m14.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m14.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m15.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m15.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m23.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m23.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m29.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m29.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m38.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m38.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Carara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m12.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m12.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m13.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m13.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/garadychi/m28.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/garadychi/m28.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
