@{
    ViewData["Title"] = "Паркани";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Паркани</h1>
                <p1>-це необхідні частини заміських ділянок, сьогодні їм приділяють особливу увагу і в плані декоративного оформлення</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category1">Український граніт</button>
                    <button class="filter-button" data-filter="category2">Імпортний граніт</button>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u8.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u8.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u12.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u12.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Кишінь</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u15.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u15.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u14.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u14.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u16.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u16.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u10.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u10.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u18.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u18.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Кишінь</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/u5.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/u5.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Кишінь</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/ui1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/ui1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/ui2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/ui2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>





                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i9.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i9.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>

                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i10.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i10.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i13.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i13.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i17.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i17.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i15.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i15.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i18.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i18.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i14.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i14.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i16.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i16.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i20.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i20.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i21.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i21.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i22.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i22.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i25.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i25.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Indiano Jupanara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i23.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i23.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i24.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i24.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i26.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i26.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i29.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i29.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i30.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i30.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i36.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i36.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i39.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i39.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Paradis</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i42.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i42.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i43.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i43.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i44.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i44.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i45.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i45.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i31.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i31.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i37.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i37.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i38.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i38.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i40.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i40.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-32 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i41.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i41.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i27.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i27.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i28.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i28.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i32.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i32.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i33.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i33.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i34.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i34.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i35.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i35.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Mulcticolor</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Mulcticolor</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Mulcticolor</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/parkany/i5.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/parkany/i5.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
