@{
    ViewData["Title"] = "Підвіконники";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Підвіконники</h1>
                <p1>-це обов'язковий елемент конструкції віконного блоку, красиве і стильне доповнення інтер'єру приміщення</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category1">Український граніт</button>
                    <button class="filter-button" data-filter="category2">Імпортний граніт</button>
                    <button class="filter-button" data-filter="category3">Мрамур</button>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/pidvikonniki/u1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/pidvikonniki/u1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category1">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/pidvikonniki/u2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/pidvikonniki/u2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
