@{
    ViewData["Title"] = "Стільниці";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Стільниця</h1>
                <p1>-це головний атрибут кухні і не менш важливий елемент ванної кімнати</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category2">Імпортний граніт</button>
                    <button class="filter-button" data-filter="category3">Мрамур</button>
                    <button class="filter-button" data-filter="category4">Кварцит</button>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i8.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i8.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i16.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i16.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Fantasi</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i13.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i13.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i11.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i11.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Fantasi</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i9.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i9.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Fantasi</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i15.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i15.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i18.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i18.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i21.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i21.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i10.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i10.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i12.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i12.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i14.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i14.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i17.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i17.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i19.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i19.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/i22.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/i22.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний грантіт</h3>
                        </div>
                    </div>
                </div>


                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/m1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/m1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Karara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/m2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/m2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/m3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/m3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/m4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/m4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Karara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/m5.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/m5.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>


                <div class="gallery_product filter col-12 col-sm-12 col-md-6 ccol-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k5.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k5.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category4">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/stilnici/k7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/stilnici/k7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>

            </div>
                </div>
                </div>
    </section>
