@{
    ViewData["Title"] = "Столи";
}
<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Столи</h1>
                <p1>-це центр квартири чи будинку, де всі проводять багато часу</p1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row ">
                <div class="text-center pt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="filter-button" data-filter="all">Всі</button>
                    <button class="filter-button" data-filter="category1">Український граніт</button>
                    <button class="filter-button" data-filter="category2">Імпортний граніт</button>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/tables/i1.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/tables/i1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/tables/i2.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/tables/i2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/tables/i3.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/tables/i3.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/tables/i4.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/tables/i4.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/tables/i6.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/tables/i6.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product filter col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 category2">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/tables/i7.jpg">
                            <img class="stone_list img-fluid" alt="" src="~/image/tables/i7.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Імпортний граніт</h3>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</section>