@{
    ViewData["Title"] = "Кварцит";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Кварцит</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row pt-5">
                <div class="gallery_product  col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/kvarc_gray.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/kvarc_gray.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>White</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/kvarc_gray.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/kvarc_gray.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Gray</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>