@{
    ViewData["Title"] = "Мармур";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Мрамур</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="tz-gallery">
            <div class="row pt-5">
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/orosei.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/orosei.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/karara1.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/karara1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Karara</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/orosei1.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/orosei1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/orosei2.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/orosei2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Orosei</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/kalkar.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/kalkar.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Calcar</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/karara.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/karara.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Karara</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>