@{
    ViewData["Title"] = "Український граніт";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md12 col-lg-12 col-xl-12 text-center">
                <h1>Український граніт</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="tz-gallery p-5">
            <div class="row pt-5">
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/jatkovka2.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/jatkovka2.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/pokostovka.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/pokostovka.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Покостівка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/didkovic1.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/didkovic1.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Дідковіч</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/gatkivkaT.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/gatkivkaT.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Жатківка Термо</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/pokostivkaT.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/pokostivkaT.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Покостівка Термо</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/megerichka.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/megerichka.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Межерічка</h3>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="thumbnail p-3">
                        <a class="lightbox" href="~/image/materials/newUA.jpg">
                            <img class="img-fluid" alt="" src="~/image/materials/newUA.jpg" />
                        </a>
                        <div class="caption text-center">
                            <h3>Новинка</h3>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
</section>