@{
    ViewData["Title"] = "About us";
}

<link href="~/css/ProductGalery.css" rel="stylesheet" />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="galery_ware col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pb-5">
                <h1>Про нас</h1>
                <div class="about text-left mb-5 p-5">
                    
                    <p1>
                        <a asp-action="Index" asp-controller="Home" class="navbar-brand pl-3">
                            <img src="~/image/Frame 1.png" width="110" height="70" class="logo " />

                        </a>- на ринку з 2010 року, за цей довгий і не легкий час ми стикалися з виробами різної складності, від простих підвікоників до різноманітних форм за макетами клієнтів, але до будь-якого виробу ми завжди ставимося з інтузіазмом та відповідальністю. На власному виробництві ми виготовляємо міцні, якісні, естетично бездоганні вироби з каменю. Виконуємо на замовлення найсміливіші і нестандартні проекти по каменю. Тому ми можемо сміливо назвати себе професіоналами свого діла і з гордістю сказати що наша компанія виготовить вироби будь-якого рівня складності, маючи в своєму розпорядженні для цього все неодхідне та потужне обладнаня  та штат кваліфікованих фахівців по роботі з каменем.
                    </p1>
                </div>
            </div>
        </div>
        </div>
</section>